<li>
	{{burger_name}}
	<button class="change-status btn btn-success btn-sm mr-1" data-id="{{this.id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}EAT ME!

		{{else}}EATEN
		<button class="delete-burger btn btn-danger btn-sm" data-id="{{id}}">DELETE!</button>
		{{/if}}
	</button>
</li>